@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.features{
    height: 70vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: relative;

    /* background-color: red; */
}

.features .featureHeading{
    text-align: center;
    font-size: 5vh;
    margin-top: 3.5vh;
}



.features .featurePara{
    text-align: center;
    font-size: 2.8vh;
}

.features .featureCarousel{
    width: 80%;
    height: 50%;
    margin-top: 2%;
    position: relative;
    overflow: hidden;
}

.featureCarousel .featureCard{
    height: 100%;
    width: 25%;
    position: absolute;
    left: 0;

    transition-duration: 0.5s;

    border: 10px solid white;
}

.featureCard:hover{
    transform: scale(120%);

    .featureCardHeading{
        opacity: 1;
        bottom: 50%;
        transform: translateY(50%);
    }

    .featureCardImage{
       filter: brightness(50%);
    }
}

.featureCard img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.featureCard .featureCardHeading{
    position: absolute;
    width: 100%;
    opacity: 0;

    font-size: 2rem;
    color: white;
    text-align: center;
}

.features button{
    font-size: 1.2rem;
    height: 4rem;
    width: 4rem;
    background-color: #5a4e8c;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    border-style: none;
    position: absolute;
    top: 38vh;
    transform: translateY(-50%);
}

.features .featureLeftBtn{
    left: 9%;
}

.features .featureRightBtn{
    right: 9%;
}