@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/* ------------------navbar--------------- */
.navbar{
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 0 20px 1px black;
}

.navbar .leftNavBar{
    height: 90%;
    width: 30%;

    margin-left: 30px;

    background-image: url("../assets/navbar/CollegeLogo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.navbar .rightNavBar{
    height: 90%; 

    display: flex;
    align-items: center;
}

.navbar .rightNavBar .navlinks{
    display: flex;
    align-items: center;
}

.navbar .rightNavBar .navlinks li{
    padding: 0 1em;
    font-size: 1.2em;

    list-style-type: none;
    position: relative;

    cursor: pointer;
}

.navlinks li::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #5a4e8c;
    transition-duration: 0.5s;
}
.navlinks li:hover::after{
    width: 100%;
}

.rightNavBar .rightNavBarBtn{
    padding: 0 1.2em;
    margin-right: 1rem;
    height: 50%;

    border-radius: 4px;
    border-style: none;
    background-color: #5a4e8c;
    color: white;
    font-weight: 600;
    font-size: 1.2em;
    transition-duration: 0.2s;

    cursor: pointer;
}
.loginReg button:hover{
    background-color: #342d50;
}

/* -------------------FIRST PAGE----------------- */
.firstPage{
    margin-top: 90px;
    width: 100%;
    height: 75vh;

    display: flex
}


.firstPage .leftFirst{
    width: 50%;
    height: 100%;

    background-color: #5a4e8c;
    position: relative;
}
.leftFirst .firstPageHeading{
    position: absolute;
    top: 25%;
    left: 30%;

    font-size: 3em;
    font-weight: 800;
    color: white;
    word-spacing: 0.5rem;
}

.leftFirst .firstPagePara{
    position: absolute;
    top: 50%;
    left: 30%;

    font-size: 1.5em;
    color: white;
}

.leftFirst .FirstPageSearch{
    position: absolute;
    top: 63.5%;
    right: 0;

    font-size: 1.2em;

    padding: 1em 2em;
    width: 70%;
}


.firstPage .rightFirst{
    position: relative;
    overflow: hidden;

    width: 50%;
    height: 100%;
}

.rightFirst .firstPageImage{
    position: absolute;
    left: 0;

    transition-duration: 0.5s;

    height: 100%;
    width: 100%;

    object-fit: cover;
}

.rightFirst .rightSearchBtn{
    position: absolute;
    top: 63.5%;
    padding: 0.6em 1.2em;

    font-size: 1.6rem;
    background-color: rgb(222, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
    transition-duration: 0.2s;
    z-index: 2;
}
.rightSearchBtn:hover{
    background-color: rgb(152, 1, 1);
}