@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/* ------------------navbar--------------- */
.navbar{
    position: fixed;
    top: 0;
    z-index: 1000;

    height: 10vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: white;
    box-shadow: 0 0 20px 1px black;
}

.navbar .leftNavBar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    position: relative;

    height: 90%;
    width: 30%;
}

.navbar .leftNavBar .logo{
    height: 90%;
    width: 100%;
    margin-left: 2rem;

    background-image: url("../assets/CollegeLogo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.navbar .rightNavBar{
    width: 40%;
    height: 90%;

    display: flex;
    margin-right: 1%;
}

.navbar .rightNavBar .navlinks{
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 70%;
}

.navbar .rightNavBar .navlinks li{
    padding: 0.1em 1.2em;
    list-style-type: none;
    position: relative;

    cursor: pointer;
}

.navlinks li::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 10%;
    background-color: #5a4e8c;
    transition-duration: 0.5s;
}
.navlinks li:hover::after{
    width: 100%;
}

.navbar .rightNavBar .loginReg{
    flex-grow: 1;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.rightNavBar .loginReg button{
    padding: 0.5em 1.5em;

    border-radius: 4px;
    border-style: none;
    font-size: 1rem;
    background-color: #5a4e8c;
    color: white;
    font-weight: 600;
    transition-duration: 0.2s;

    cursor: pointer;
}
.loginReg button:hover{
    background-color: #342d50;
}

/* -------------------FIRST PAGE----------------- */
.firstPage{
    margin-top: 10vh;

    width: 100%;
    height: 75vh;

    display: flex
}


.firstPage .leftFirst{
    width: 50%;
    height: 100%;

    background-color: #5a4e8c;
    position: relative;
}
.leftFirst .firstPageHeading{
    font-size: 2.8rem;
    font-weight: 800;
    /* background-color: yellow; */
    color: white;
    word-spacing: 0.5rem;

    margin-top: 20%;
    margin-left: 30%;
    width: 50%;
}

.leftFirst .firstPagePara{
    font-size: 1.5rem;

    color: white;

    width: 52%;
    margin-top: 3%;
    margin-left: 30%;
}

.leftFirst .FirstPageSearch{
    position: absolute;
    top: 63.5%;
    right: 0;

    font-size: 1.2rem;

    padding: 1em 2em;
    width: 70%;
    height: 10%;
}


.firstPage .rightFirst{
    position: relative;
    overflow: hidden;

    width: 50%;
    height: 100%;

    background-image: url(../assets/collegeBanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 20%;
}

.rightFirst .firstPageImage{
    position: absolute;
    top: 0;
    left: 0;

    transition-duration: 0.5s;

    height: 100%;
    width: 100%;

    object-fit: cover;
}

.rightFirst .rightSearchBtn{
    position: absolute;
    top: 63.5%;

    font-size: 1.4rem;
    background-color: rgb(222, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
    transition-duration: 0.2s;

    z-index: 2;

    padding: 0.8em 1em;
}
.rightSearchBtn:hover{
    background-color: rgb(152, 1, 1);
}