* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow-X: hidden;
}


/* --------------------------  Header  -------------------------- */
.header {
  width: 100vw;
  height: 10vh;
  background-color: white;
  /* background-color: transparent; */

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  transition-duration: 0.5s;
  
}

.title {
  width: 100%;
  height: 100%;
  font-family: "Darker Grotesque", sans-serif;
  text-align: center;
  font-size: 3rem;
  font-optical-sizing: auto;
  font-weight: 700;
  word-spacing: 1rem;
  letter-spacing: 7px;

  /* background-color: transparent; */
  /* font-style: normal;  */
}

/* --------------------------  Sidebar  -------------------------- */

.sidebar {
  height: 120vh;
  width: 20%;
  padding-top: 60px;

  position: absolute;
  z-index: 1;
  top: 0;
  left: -20%;
  /* overflow-x: hidden; */

  background-color: #111;
  transition: 0.5s;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;

  padding: 4px 8px;
  border: none;
  border-radius: 50%;

  position: absolute;
  top: 30%;
  left: 1%;
  z-index: 2;
}

.openbtn:hover {
  background-color: #444;
}






/* ---------------------------First Page --------------------------*/

.first-page {
  height: 100vh;
  /* padding-top: 10vh; else content will hide behind header */
  position: relative;

  /* background-color: salmon; */
  background-color: transparent;
}
.carousel{
  width: 80%;
  height: 80%;
  
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  overflow: hidden;

  background-color: red;
  border: 5px solid black;
}

.first-page button{
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  z-index: 1;

  background-color: black;
  color: white;
  border: 2px solid white;
  cursor: pointer;

  width: 3rem;
  height: 3rem;
  padding: 1em;
  border-radius: 50%;
}

.slideLeft{
  left: 9%;
}
.slideRight{
  right: 9%;
}

.slideImage{
  width: 100%;
  height: 100%;
  object-fit: cover;

  position: absolute;
  left: 0;

  transition-duration: 1s;
}

/* ---------------------------Second Page --------------------------*/
.second-page{
    width: 100vw;
    height: 100vh;
}
  

.second-page .title2 {
    width: 100%;
    height: 20%;
    padding-top: 1rem;

    /* background-color: bisque; */
    background-color: white; 
    font-size: 5rem;
    font-family: "Darker Grotesque", sans-serif;
    text-align: center;
    font-optical-sizing: auto;
    font-weight: 400;
    letter-spacing: 2px;
    align-self: center;
    /* font-style: normal;  */
  }
.second-page .vision {
  width: 90%;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
  text-align: center;
}
fieldset{
    width: 85%;
    padding: 7px;
    font-size: 30px;
    font-family: "Alata", sans-serif;
    border-radius: 14px;
    
}
/* ---------------------------Second Page(end) --------------------------*/



/* ---------------------------Third Page --------------------------*/


 .title2{
    width: 100%;
    height: 100%;
    font-size: 5rem;
    /* background-color: bisque; */
    background-color: white;
    font-family: "Darker Grotesque", sans-serif;
    text-align: center;
    font-optical-sizing: auto;
    font-weight :400;
    letter-spacing: 2px;
    align-self: center;
    /* font-style: normal;  */
}


 
.wrapper { 
  max-width: 1100px; 
  width: 100%; 
  position: relative; 

  /* background-color: salmon; */
  background-color: transparent;
} 

.wrapper i { 
  height: 50px; 
  width: 50px; 
  color : white;
  /* background: rgb(118, 233, 118);  button for left & right */  
  background: #265DF2; 
  text-align: center; 
  line-height: 50px; 
  border-radius: 50%; 
  cursor: pointer; 
  position: absolute; 
  top: 50%; 
  font-size: 1.25 rem; 
  transform: translateY(-50%); 
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23); 

} 

.wrapper i:first-child { 
  left: -22px; 

} 

.wrapper i:last-child { 
  right: -22px; 

} 

.wrapper .feature-carousel { 
  display: grid; 
  grid-auto-flow: column; 
  grid-auto-columns: calc((100% / 3) - 12px); 
  gap: 16px; 
  overflow-x: auto; 
  scroll-snap-type: x mandatory; 
  scroll-behavior: smooth; 
  scrollbar-width: 0; 
} 

.feature-carousel::-webkit-scrollbar { 
  display: none; 
} 

.feature-carousel :where(.card, .img) { 
  display: flex; 
  align-items: center; 
  justify-content: center; 
} 

.feature-carousel .dragging { 
  scroll-snap-type: none; 
  scroll-behavior: auto; 
} 

.feature-carousel .no-transition { 
  scroll-behavior: auto; 
} 

.feature-carousel.dragging .card { 
  cursor: grab; 
  user-select: none; 
} 

.feature-carousel .card { 
  scroll-snap-align: start; 
  height: 340px; 
  list-style: none; 
  background: #fff; 
  border-radius: 8px; 
  display: flex; 
  cursor: pointer; 
  width: 98%; 
  padding-bottom: 15px; 
  align-items: center; 
  justify-content: center; 
  flex-direction: column; 
  
  /* color: #265DF2; */
  border: 2px solid #265DF2;
  font-family: 'Darker Grotesque';
  font-weight: 600;
} 

.card .img { 
  background: green; 
  width: 145px; 
  height: 145px; 
  border-radius: 50%; 

} 

.card .img img { 
  width: 190px; 
  height: 190px; 
  object-fit: cover; 
  border-radius: 50%; 
  border: 4px solid #fff; 
} 

.card h2 { 
  font-weight: 500; 
  font-size: 1.56rem; 
  margin: 30px 0 5px; 
} 

.card span { 
  color: #6a6d78; 
  font-size: 1.31rem; 

} 

@media screen and (max-width: 900px) { 
  .wrapper .carousel { 
      grid-auto-columns: calc((100% / 2) - 9px); 

  } 
} 

@media screen and (max-width: 600px) { 
  .wrapper .carousel { 
      grid-auto-columns: 100%; 

  } 
}


/* ---------------------------Third Page(end) --------------------------*/





/* ---------------------------Dept Page --------------------------*/
/* CSS for the image boxes */
.dept-page {
  width: 100%;
  height: fit-content;
}

.dept-page .title2 {
  width: 100%;
  height: 20%;
  padding-top: 1rem;
  /* background-color: bisque; */
  background-color: white;
  font-size: 5rem;
  font-family: "Darker Grotesque", sans-serif;
  text-align: center;
  font-optical-sizing: auto;
  font-weight: 400;
  letter-spacing: 2px;
  align-self: center;
}

.dept-row {
  width: 100%;
  padding: 20px 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.dept-row .imgbox {
  width: 33%;
  height: 200px;
  position: relative;
  overflow: hidden;
  margin: 12px;
}

.dept-row .imgbox img {
  width: 100%;
  height: 100%;
  transition: filter 0.4s ease;
  background-color: rgba(255, 0, 0, 0.3);        
  opacity: 1;
}


.dept-row .imgbox::before {
  content: 'Department';
  
  font-size: 34px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  
  opacity: 0;
  transition: opacity 0.7s ease;
  z-index: 10;

  
}

.dept-row .imgbox::after {
  content: 'View More';
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  /* color: rgba(90, 78, 140, 0.3); */
  color: black;
  padding: 12px 18px;
  border-radius: 20px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.7s ease;
  
}

.dept-row .imgbox:hover img {
  filter: brightness(0.4);
  transform: scale(120%);
  transition: ease-in-out 0.7s ;
 
}

.dept-row .imgbox:hover::before,
.dept-row .imgbox:hover::after {
  opacity: 1;
}


/* ---------------------------Dept Page(end) --------------------------*/




/* ---------------------------Fourth Page --------------------------*/

.fourth-page .message{
  width: 100%;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
  
}
.fourth-page fieldset{
  width: 85%;
  
  font-size: 30px;
  font-family: "Alata", sans-serif;
  border-radius: 14px;
  text-align: center;
  padding: 2px 40px;
}
.fourth-page legend img{
  width: 240px;   /* x(7) * 4 times */
  height: 240px;  /* x(7) * 3 times  */
  background-size: contain;
  border-radius: 50%;
  border: 3px solid black;
  transition: 0.7s;

}
.fourth-page legend img:hover{
    border-color: #265DF2;
}
